.pageWrapper {
  min-height: calc(100vh - 50px - var(--appHeaderHeight) - 40px); // screen - footer - header - padding top
  height: fit-content;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  background-color: var(--background);
}

.writeViewPort {
  min-height: calc(100vh - 50px - var(--appHeaderHeight) - 40px); // screen - footer - header - padding top
  height: fit-content;

  h1 {
    font-size: 2rem;
    font-weight: 600;
  }

  .writeInput {
    width: 100%;
    outline: none;
    resize: none;
    flex-grow: 1;
    font-size: 1.3rem;
    padding: 10px 0;
    line-height: 32px;
    height: fit-content;
    background-color: var(--background);

    @media (max-width: 450px) {
      margin-bottom: 50px;
      font-size: 1.1rem;
      line-height: 1.25rem;
    }
  }
}

.writeFooter {
  background-color: var(--background);
  width: calc(100vw - 100px);
  max-width: 800px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;

  @media (max-width: 650px) {
    bottom: 60px;
    width: calc(100vw - 30px);
  }

  p {
    font-size: 0.9rem;

    @media (max-width: 450px) {
      font-size: 0.75rem;
    }

    &.count {
      font-weight: 500;
    }
  }

  span {
    display: flex;
    align-items: center;

    svg {
      width: 20px;
      height: 20px;
      color: var(--accent);
    }
  }
}
